* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

img {
  width: 700px;
  height: 297px;;
  margin: 0 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav {
  justify-content: center;
}

.fas {
  margin: 10px 10px;
  font-size: 20px;
  cursor: pointer;
  color: #e6d146;
  text-shadow: 1px 1px #006688;
}

.fas:hover {
  transform: scale(1.2);
}

.active {
  color: #D51F22;
  font-size: 30px;
}

.btns {
  justify-content: center;
}

button {
  border: 0;
  margin-top: 30px;
  background-color: #3694b8;
}

button:focus {
  outline: none;
}

@media all and (max-width: 1024px) {
  body {
    background-position: center center;
  }

  img {
    width: 500px;
    height: 240px;
  }
}

@media all and (max-width: 800px) {
  img {
    width: 250px;
    height: 140px;
  }

  .fas {
    font-size: 15px;
  }
}

@media all and (max-width: 400px) {
  img {
    width: 150px;
    height: 100px;
  }
}
